{% extends "base.html" %} {% load static %} {% block head %}
<title>Recruiter: My Profile</title>
{% endblock head %} {% block content %}
<div class="w-screen h-screen flex bg-slate-100">
  {% include "recruiter/sidebar.html" %}
  <div class="flex flex-col w-full h-full">
    {% include "recruiter/navbar.html" %}
    <div
      class="flex flex-col overflow-x-hidden overflow-y-auto w-full h-full p-5 gap-4 bg-white rounded-l-xl"
    >
      <h1 class="font-semibold">My Profile</h1>
      <div
        class="flex gap-4 items-center border-2 border-slate-100 p-6 rounded-lg"
      >
        <div
          class="relative inline-flex items-center justify-center w-14 h-14 overflow-hidden bg-gray-100 rounded-full"
        >
          <span class="font-medium text-gray-600">
            {{ profile.name.0 | upper }}{{ profile.name.1 | upper }}
          </span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-lg font-semibold">{{ profile.name|title }}</span>
          <span class="text-xs font-semibold text-gray-500">
            {{ profile.email_id }}
          </span>
        </div>
      </div>
      <div class="flex flex-col gap-4 border-2 border-slate-100 p-6 rounded-lg">
        <span class="text-lg font-semibold">Company Information</span>
        <div class="flex flex-col gap-1">
          <span class="text-sm text-gray-300">Company Name</span>
          <span class="text-lg font-semibold">{{ profile.name }}</span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-sm text-gray-300">
            Company Support Mobile Number
          </span>
          <span class="text-lg font-semibold">{{ profile.mobile_no }}</span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-sm text-gray-300">Company Support Mail Id</span>
          <span class="text-lg font-semibold">{{ profile.email_id }}</span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-sm text-gray-300">Company Website</span>
          <span class="text-lg font-semibold">{{ profile.website }}</span>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
