{% extends "base.html" %}

{% block head %}
    <title>Coordinator: Placements</title>
{% endblock head %}

{% block content %}
<div class="w-screen h-screen flex bg-slate-100">
        {% include "coordinator/sidebar.html" %}
        <div class="flex flex-col w-full h-full">
           {% include "coordinator/navbar.html" %}
            <div class="flex flex-col overflow-x-hidden overflow-y-auto w-full h-full p-5 gap-4 bg-white rounded-l-xl">
                <div class="flex items-center justify-between">
                    <h1 class="text-lg font-semibold underline">Placements</h1>
                    <div class="flex gap-2 justify-end items-center">
                        {% if search %}
                        <span class="text-sm text-gray-400">showing results for "{{search}}" (<a href="{% url "coordinator:placements" %}" class="underline">clear</a>)</span>
                        {% endif %}
                        {% include "coordinator/search_bar.html" %}
                    </div>

                </div>
                <div class="relative h-full overflow-x-hidden overflow-y-auto mt-5 shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Student
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Recruiter
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Role
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    CTC
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Placed on
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for placement in placements %}
                            <tr class="bg-white border-b  hover:bg-gray-50">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    {{ placement.student }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ placement.job.role }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ placement.job.recruiter }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ placement.job.ctc }} LPA
                                </td>
                                <td class="px-6 py-4">
                                    {{placement.created_on}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% include "coordinator/pagination.html" %}

            </div>
       </div>
</div>
{% endblock content %}