{% extends "base.html" %}

{% block head %}
    <title>CGPU Admin: Messages</title>
{% endblock head %}

{% block content %}
<div class="w-screen h-screen flex bg-slate-100">
        {% include "cgpu_admin/sidebar.html" %}
        <div class="flex flex-col w-full h-full">
           {% include "cgpu_admin/navbar.html" %}
            <div class="flex flex-col w-full h-full p-5 bg-white rounded-l-xl">
                <div class="flex items-center justify-between">
                    <h1 class="text-lg font-semibold underline">Messages</h1>
                    <div class="flex gap-2 justify-end items-center">
                        {% if search %}
                        <span class="text-sm text-gray-400">showing results for "{{search}}" (<a href="{% url "cgpu_admin:messages" %}" class="underline">clear</a>)</span>
                        {% endif %}
                        {% include "cgpu_admin/search_bar.html" %}
                    </div>
                </div>
                <div class="relative h-full overflow-x-hidden overflow-y-auto mt-5 shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    User Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in accounts %}
                            <tr class="bg-white border-b ">
                                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap ">
                                    <div class="relative cursor-pointer inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-white rounded-full ">
                                        <span class="font-medium text-gray-600 ">{{ account.username.0|upper }}{{ account.username.1|upper }}</span>
                                    </div>
                                    <div class="ps-3">
                                        <div class="text-base font-semibold">{{ account.username }}</div>
                                        <div class="font-normal text-gray-500">{{ account.email }}</div>
                                    </div>  
                                </th>
                                <td class="px-6 py-4">
                                    <a href="{% url "cgpu_admin:view_message" account.id %}" class="relative font-medium text-blue-600 hover:underline">Message {% if account.new_messages %}<span class="absolute inline-flex items-center justify-center w-6 h-6 text-xs text-white bg-red-500 border-2 border-white rounded-full -top-4 -end-4">{{account.new_messages}}</span>{% endif %}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    
                </div>
                {% include "cgpu_admin/pagination.html" %}
            </div>
       </div>
</div>


{% endblock content %}